{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static '/images/svg/rimmingtons.ico' %}"
      type="image/x-icon"
    />
    <script src="{% static '/js/nav.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/css/about/about.css' %}" />
    <title>Rimmington's • About Us</title>
  </head>
  <body>
    <div class="container">
      <header>{% include 'all/nav.html' %}</header>

      <main class="about">
        <h1>About Us</h1>
        <p>
          Rimmington’s Pharmacy is a 182-year-old city centre pharmacy situated
          in the heart of Bradford. It’s the only remaining continuously
          operating business from the Victorian era still present in the city
          centre to this day. Founded by Felix Rimmington (personal chemist to
          queen Victoria), it has recently been awarded a blue plaque by the
          Bradford Civic Society.
        </p>
        <h6>Scroll Down</h6>
      </main>

      <section class="covid">
        <h2>Our COVID-19 journey</h2>
        <p>
          Rimmington’s Pharmacy has been a designated site for COVID-19
          vaccinations in phases 1 & 2 as part of wave 8. We were part of the
          first 200 pharmacies nationally to be selected to participate in the
          vaccination programme, as well as being 1 of only 8 pharmacies in West
          Yorkshire. We were the only pharmacy in Bradford to be selected to
          vaccinate cohorts 1-9 as part of the JCVI cohorts and priority groups.
          With our passion, commitment and experience gained, we have delivered
          vaccinations across 5 sites to include West Yorkshire (Bradford) and
          North-East Yorkshire (Grimsby, Goole, Market Weighton & Withernsea).
        </p>

        <img src="{% static '/images/svg/timeline.svg' %}" alt="timeline" />

        <ul>
          <li>Jan 2021 Rimmingtons Pharmacy</li>
          <li>May 2021 Centre4, Grimsby</li>
          <li>The Courtyard, Goole</li>
          <li>Market Weighton, Market Weighton</li>
          <li>Jul 2021 St Matthews Church, Withernsea</li>
        </ul>
      </section>

      <footer>{% include 'all/footer.html' %}</footer>
    </div>
  </body>
</html>
