{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Qaisar" />
    <meta
      name="keywords"
      content="Pharmacy, Pharmacy in England, Vaccination, Fluu vaccination"
    />
    <meta
      name="description"
      content="Rimmington's is a well established pharmacy located in England."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static '/images/svg/rimmingtons.ico' %}"
      type="image/x-icon"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="{% static '/js/nav.js' %}" defer></script>
    <script src="{% static '/js/home.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/css/home/index.css' %}" />
    <title>Rimmington's • Home</title>
  </head>
  <body>
    <div class="container">
      <header>{% include 'all/nav.html' %}</header>

      <div class="popup">
        <a href="{% url 'booking-page' %}">Book An Appointment</a>
        <div class="cross"></div>
      </div>

      {% if success %}
      <div class="success_message_cont">
        <h4 class="success_message">{{ success }}</h4>
      </div>
      {% endif %}

      <main class="hero">
        <h1>
          <span>There’s Nothing More Important Than</span>
          <span>Your Health. Book Your Flu Vaccination Now And</span>
          <span>Fight Against The Disease</span>
        </h1>

        <button>Book Appointment</button>
      </main>

      <section class="strengths">{% include 'home/wwd.html' %}</section>

      <section class="vaccines">
        <img src="{% static '/images/vaccine-needle.png' %}" alt="Vaccine" />

        <div>
          <h2>Benefits of flu vaccination</h2>
          <ul>
            <li>Gives the best protection against flu</li>
            <li>Protects you against this year’s strain of flu</li>
            <li>
              If you do get the flu after you’ve been vaccinated your symptoms
              will be milder
            </li>
            <li>
              Helps protect those around you who may not be able to get the jab
            </li>
            <li>
              Lowers the risk of serious complications for those who are more
              prone to catching flu
            </li>
            <li>
              Will prevent you from being seriously ill if you also get
              coronavirus at the same time
            </li>

            <h3>Who can have the flu vaccine</h3>
            <p>The flu vaccine is given free on the NHS to people who:</p>
            <li>
              are 50 and over (including those who'll be 50 by 31 March 2022)
            </li>
            <li>have certain health conditions</li>
            <li>are pregnant</li>
            <li>are in long-stay residential care</li>
            <li>
              receive a carer's allowance, or are the main carer for an older or
              disabled person who may be at risk if you get sick
            </li>
            <li>
              live with someone who is more likely to get infections (such as
              someone who has HIV, has had a transplant or is having certain
              treatments for cancer, lupus or rheumatoid arthritis)
            </li>
            <li>frontline health or social care workers</li>
          </ul>
        </div>
      </section>

      <section class="info">
        <div class="info__cont">
          <img src="{% static '/images/svg/time.svg' %}" alt="Time icon" />
          <h4><span>Each appointment should</span> only last 5 minutes.</h4>
        </div>

        <div class="info__cont">
          <img src="{% static '/images/svg/health.svg' %}" alt="Time icon" />
          <h4>
            <span>We promise you better</span> health from these vaccines.
          </h4>
        </div>
      </section>

      <section>{% include 'home/map.html' %}</section>

      <section class="images">{% include 'home/images.html' %}</section>

      <footer>{% include 'all/footer.html' %}</footer>
    </div>
  </body>
</html>
