{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static '/images/svg/rimmingtons.ico' %}"
      type="image/x-icon"
    />
    <script src="{% static '/js/nav.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/css/home/privacy_policy.css' %}" />
    <title>Rimmington's • Privacy & Policy</title>
  </head>
  <body>
    <div class="container">
      <header>{% include 'all/nav.html' %}</header>

      <main class="pp">
        <h1>Privacy & Policy</h1>
        <p>
          This privacy policy notice is for this website; www.rimmingtons.com
          and served by Rimmingtons pharmacy and governs the privacy of those
          who use it. The purpose of this policy is to explain to you how we
          control, process, handle and protect your personal information while
          browsing or using this website, including your rights under current
          laws and regulations. If you do not agree to the following policy, you
          may wish to cease viewing / using this website.
        </p>
      </main>

      <section class="pp2">
        <h2>What data is being collected?</h2>
        <p>
          The data being collected is your name, email address, phone number,
          your date of birth, your postal code and your nhs number.
        </p>
      </section>

      <section class="pp2">
        <h2>Who is collecting it?</h2>
        <p>
          Personal information is collected by Rimmington's pharmacy from you
          when you book an appointment.
        </p>
      </section>

      <section class="pp2">
        <h2>Why are we collecting it?</h2>
        <p>
          We require this information in order to give you the vaccine and in
          order to contact you, when needed. We may send informative emails
          about new updates or special offers.
        </p>
      </section>

      <section class="pp2">
        <h2>How are we using it?</h2>
        <p>
          We will use it to confirm who you are when you contact us. We will use
          it to verify your information by checking your details against our
          databases.
        </p>
      </section>

      <section class="pp2">
        <h2>Do we plan to share it?</h2>
        <p>
          We will only share personal information with others when we are
          legally permitted to do so. We do not share or sell your data to any
          third parties.
        </p>
      </section>

      <section class="pp2">
        <h2>How long will we store it?</h2>
        <p>
          We’ll keep your personal information securely stored for as long as we
          need it.
        </p>
      </section>

      <section class="pp2">
        <h2>What control do I have over it?</h2>
        <p>
          We will not sell, distribute or lease your personal information to
          third parties unless we have your permission or are required by law to
          do so. You may request details of personal information which we hold
          about you.
        </p>
      </section>

      <section class="pp2">
        <h2>Your individual rights</h2>
        <ul>
          <li>the right to be informed</li>
          <li>the right of access</li>
          <li>the right to rectification</li>
          <li>the right to erasure</li>
          <li>the right to restrict processing</li>
          <li>the right to data portability</li>
          <li>the right to object</li>
          <li>
            the right not to be subject to automated decision-making including
            profiling
          </li>
        </ul>
      </section>

      <footer>{% include 'all/footer.html' %}</footer>
    </div>
  </body>
</html>
