<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tomorrow's Report - Public</title>

    <style>
      table {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 4px 4px 2px;
        font-size: 1.1rem;
      }
    </style>
  </head>
  <body style="font-family: 'Poppins', sans-serif">
    <h1 style="font-size: 28px">Today's Report - Public ({{ count }}) - {{ today }}</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Birth</th>
        <th>Postal Code</th>
        <th>Time</th>
      </tr>

      {% for x in users %}
      <tr>
        <td>{{ x.name }}</td>
        <td>{{ x.birth_date }}</td>
        <td>{{ x.postal_code }}</td>
        <td>{{ x.time }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
