{% load static %}

<h2>Why Rimmington's?</h2>

<div class="strengths__cards">
  <div class="strengths__card">
    <div class="strengths__cont">
      <img src="{% static '/images/svg/heartbeat.svg' %}" alt="design icon" />
    </div>

    <h3>Experienced <span>healthcare professionals</span></h3>
  </div>

  <div class="strengths__card">
    <div class="strengths__cont">
      <img
        src="{% static '/images/svg/prescription.svg' %}"
        alt="design icon"
      />
    </div>

    <h3><span>Fast and</span> <span>Reliable services</span></h3>
  </div>

  <div class="strengths__card">
    <div class="strengths__cont">
      <img src="{% static '/images/svg/syringe.svg' %}" alt="design icon" />
    </div>

    <h3><span>Excelent</span> <span>Customer Service</span></h3>
  </div>
</div>
