<div class="filters">
  <select name="group" class="filter filter_group">
    <option value="workplace">Workplace</option>
    <option value="public">Public</option>
  </select>

  <select name="place" class="filter filter_place">
    <option value="rimmington-pharmacy">Rimmington Pharmacy</option>
    <option value="the-courtyard">The Courtyard</option>
    <option value="centre4">Centre4</option>
    <option value="market-weighton">Market Weighton</option>
    <option value="st-matthews-church">St Matthews Church</option>
  </select>
</div>

<table class="places">
  <tr>
    <th>Time</th>
    <th>Name</th>
    <th>Birth</th>
    <th>Postal Code</th>
  </tr>

  {% if not public %}
  <tr>
    <td>No Records</td>
    <td>No Records</td>
    <td>No Records</td>
    <td>No Records</td>
  </tr>
  {% else %} {% for x in public %}
  <tr>
    <td>{{ x.time }}</td>
    <td>{{ x.name }}</td>
    <td>{{ x.birth_date }}</td>
    <td>{{ x.postal_code }}</td>
  </tr>
  {% endfor %} {% endif %}
</table>
