<div class="booking__cont">
  <div class="booking__title">
    <h1>Public Booking</h1>
  </div>

  <div class="booking__form">
    <div class="booking__input">
      <label for="booking__name" id="name_label">Full Name</label>
      <input type="text" name="name" id="booking__name" value="{{ name }}" />
    </div>

    <div class="booking__input">
      <label for="booking__email" id="email_label">Email Address</label>
      <input type="text" name="email" id="booking__email" value="{{ email }}" />
    </div>

    <div class="booking__input">
      <label for="booking__phone" id="phone_label"
        >Phone Number (eg. +44 566 6465)</label
      >
      <input type="tel" name="phone" id="booking__phone" value="{{ phone }}" />
    </div>

    <div class="booking__input">
      <label for="booking__date" id="date_label">Date Of Birth</label>
      <input
        type="text"
        name="birth"
        id="booking__date"
        onfocus="(this.type='date')"
        onfocusout="focusOutDate(this)"
        value="{{ birth }}"
        max="{{ current_date }}"
      />
    </div>

    <div class="booking__input">
      <label for="booking__postal" id="postal_label">Postal Code</label>
      <input
        type="text"
        name="postal"
        id="booking__postal"
        value="{{ postal }}"
      />
    </div>

    <div class="booking__input">
      <label for="booking__nhs" id="nhs_label"
        >NHS Number (eg. 237-374-3746)</label
      >
      <input type="text" name="nhs" id="booking__nhs" value="{{ nhs }}" />
    </div>

    <div class="privacy">
      <input type="checkbox" id="checkbox" />
      <label for="checkbox" id="checkbox_label">
        I have read and accepted the
        <a href="{% url 'privacy-policy' %}">Privacy & Policy</a>
      </label>
    </div>

    <button class="continue_button">Continue</button>
  </div>
</div>
