<div class="booking__cont">
  <div class="booking__title">
    <h1>Public Booking</h1>
  </div>

  <div class="booking__workplace">
    <div class="closed_div">
      <div class="closed"></div>
      <h4>Closed for now</h4>
    </div>

    <p>
      Thank you for choosing Rimmington Pharmacy for your workplace flu
      vaccinations.
    </p>

    <p>
      Getting your staff vaccinations ensures less days away from work in
      sickness and improved staff loyalty and commitment.
    </p>

    <p>
      Please contact a member of our workplace vaccination team to book a clinic
      tailored to your companies needs.
    </p>

    <h5><a href="{% url 'contact' %}">Contact Us</a></h5>
  </div>

  <div class="booking__form">
    <div class="booking__input">
      <label for="booking__name" id="name_label">Full Name</label>
      <input type="text" name="name" id="booking__name" value="{{ name }}" />
    </div>

    <div class="booking__input">
      <label for="booking__email" id="email_label">Email Address</label>
      <input type="text" name="email" id="booking__email" value="{{ email }}" />
    </div>

    <div class="booking__input">
      <label for="booking__phone" id="phone_label"
        >Phone Number (eg. +44 566 6465)</label
      >
      <input type="tel" name="phone" id="booking__phone" value="{{ phone }}" />
    </div>

    <div class="booking__input">
      <label for="booking__date" id="date_label">Date Of Birth</label>
      <input
        type="text"
        name="birth"
        id="booking__date"
        onfocus="(this.type='date')"
        onfocusout="focusOutDate(this)"
        value="{{ birth }}"
        max="{{ current_date }}"
      />
    </div>

    <div class="booking__input">
      <label for="booking__postal" id="postal_label">Postal Code</label>
      <input
        type="text"
        name="postal"
        id="booking__postal"
        value="{{ postal }}"
      />
    </div>

    <div class="booking__input">
      <label for="booking__nhs" id="nhs_label">NHS Number (Optional)</label>
      <input type="text" name="nhs" id="booking__nhs" value="{{ nhs }}" />
    </div>

    <select name="cars" id="booking__select">
      <option value="Rimmington Pharmacy">
        Rimmington Pharmacy (Location)
      </option>
      <option value="The Courtyard">The Courtyard (Location)</option>
      <option value="Centre4">Centre4 (Location)</option>
      <option value="Market Weighton">Market Weighton (Location)</option>
      <option value="St Matthews Church">St Matthews Church (Location)</option>
    </select>

    <div class="privacy">
      <input type="checkbox" id="checkbox" />
      <label for="checkbox" id="checkbox_label">
        I have read and accepted the
        <a href="{% url 'privacy-policy' %}">Privacy & Policy</a>
      </label>
    </div>

    <p class="existing">This user already booked an appointment</p>
    <button class="continue_button">Continue</button>

    <p class="confirmation_msg">
      Thank you for booking your flu vaccination appointment an email
      confirmation will be sent to you shortly.
    </p>
  </div>
</div>
